<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trello API Provider for AngularJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="../../bower_components/angular/angular.js"></script>
        <script src="../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../src/angular-trello.js"></script>

        <script>
        	var app = angular.module('providertest', ['trello']);

        	app.config(['TrelloApiProvider',function(TrelloApiProvider) {
        		TrelloApiProvider.init({
        			key: '33ae29dc5d8f9c9ec1a1cc74c1701f7b',
        			secret: 'd09ad4a9be77185e48f2dd604704e8b181038248250ac1325a81fd96d1944988',
        			scopes: {read: true, write: true, account: true},
        			AppName: 'Prueba Angular Trello'
        		});
        	}]).controller('TestCtrl', ['$scope', 'TrelloApi', function($scope, TrelloApi){
        		$scope.boards = [];
        		$scope.test = function () {
        			TrelloApi.Authenticate().then(function(){
        				alert(TrelloApi.Token());
        			}, function(){
        				alert('Error on Authentication');
        			});
        		};

        		$scope.getMe = function () {
        			TrelloApi.Rest('GET', 'members/me').then(function(res){
        				$scope.boards = res.idBoards;
        				alert(res);
        			}, function(err){
        				alert(err);
        			});
        		};

        		$scope.getBoards = function() {
        			TrelloApi.boards($scope.boards[0], {}).then(function(res) {
        				alert(res);
        			}, function(err) {
        				alert(err);
        			});
        		};
        	}]);
        </script>
    </head>
    <body ng-app="providertest" ng-controller="TestCtrl">
    	<h1>Test Trello API</h1>
    	<button ng-click="test()">Authorize Trello</button>
    	<button ng-click="getMe()">Get My Info in Trello</button>
    	<button ng-click="getBoards()">Get My Boards in Trello</button>
    </body>
</html>
